<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <table width="500" align="center">
            <tr bgcolor="lightgreen">
                <td width="30%" align="center">Name</td>
                <td align="center">Danny Chan</td>
            </tr>
            <tr>
                <td width="30%" align="center">Photo</td>
                <td align="center"><img src="peter.jpg" width="150"></td>
            </tr>
            <tr bgcolor="yellow">
                <td width="30%" align="center">Age</td>
                <td align="center">Twelve</td>
            </tr>
            <tr>
                <td width="30%" align="center">Gender</td>
                <td align="center">Male</td>
            </tr>
        </table>
    </body>
</html>